<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Sobre - Lucas Araujo</title>
    <link rel="stylesheet" href="/statics/portfólio.css">
</head>
    <body>
        <%- include('partials/header') %>

        <main>
            <section class="sobre" id="sobre">
                <div class="foto">
                    <img class="img-fluid minha-foto" src="/statics/imagens/minha_foto.jpg" alt="foto">
                </div>
                <div class="card-sobre">
                    <div class="card">
                        <div class="card-body">
                            <h2 style="text-align: center;"><%= nome %></h2>
                            <h3 style="text-align: center;"><%= cargo %></h3>
                            <h5 class="card-title">Olá, muito prazer!</h5>
                            <p class="card-text">
                                Sou estudante de Desenvolvimento de Software Multiplataforma na Fatec - SJC. Atualmente, venho aprendendo linguagens como JavaScript e TypeScript, além de frameworks como React.<br><br>
                                Busco constantemente aprimorar minhas habilidades técnicas por meio de projetos práticos e colaboração em equipe. Estou em busca de oportunidades que me permitam crescer como desenvolvedor e contribuir com soluções criativas.<br><br>
                                Além da programação, sou apaixonado por jogos, especialmente RPGs de mesa, onde desenvolvo minha criatividade, pensamento estratégico e trabalho em equipe de forma descontraida.
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="copetencias">
                <h1>Competências técnicas</h1>
                <div class="copetencias1">
                    <div class="front_back">
                        <h4>Frontend</h4>
                        <div style="display: flex; flex-wrap: wrap; gap: 20px; padding: 1rem;">
                            <% competencias.frontEnd.forEach(function(tecnologia) { %>
                                <div class="icons">
                                    <img src="/statics/imagens/<%= tecnologia.toLowerCase().replace('.', '').replace('#', 'sharp').replace(' ', '') %>.png" alt="<%= tecnologia %>">
                                    <span style="color:#e2e2e2; font-size:0.9rem;"><%= tecnologia %></span>
                                </div>
                            <% }); %>
                        </div>
                    </div>
            
                    <div class="front_back">
                        <h4>Backend</h4>
                        <div style="display: flex; flex-wrap: wrap; gap: 20px; padding: 1rem;">
                            <% competencias.backEnd.forEach(function(tecnologia) { %>
                                <div class="icons">
                                    <img src="/statics/imagens/<%= tecnologia.toLowerCase().replace('.', '').replace('#', 'sharp').replace(' ', '') %>.png" alt="<%= tecnologia %>">
                                    <span style="color:#e2e2e2; font-size:0.9rem;"><%= tecnologia %></span>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <%- include('partials/footer') %>
    </body>
</html>
